{% extends 'layouts/base.html' %} 
{% set active_page = 'contributor' %}

{% block title %} 
	Contributor
{% endblock %}

{% block heading %} 
	<h2 class="sentiment-title">Contributor</h2>
	<p class="sentiment-subtitle">The contributor of the website and sentiment analysis model</p>
{% endblock %}

{% block content %}
<div class="page-contributor">
    <ol>
        <li> 
            &nbsp;Reihan Andhika Putra - 13519043  
            <ul>
                <li>1</li>
                <li>1</li>
            </ul>
            <br>
        </li>
        <li> 
            &nbsp;Dzaki Muhammad - 13519049 
            <ul>
                <li>1</li>
                <li>1</li>
            </ul>
            <br>
        </li>
        <li> 
            &nbsp;Naufal Yahya Kurnianto - 13519141 
            <ul>
                <li>1</li>
                <li>1</li>
            </ul>
            <br>
        </li>
    </ol>
</div>
{% endblock %}